<!-- <div class="panelwrap"> -->
<%= link_to "Publish Cow", new_product_path, class: "btn btn-default" %>

  <% @products.each do |product| %>
  <div class="productpanel">
    <div class="productheader">
          <%= product.race.split.map(&:capitalize)*' ' %>
    </div>

    <div class="panel-body">
      <!-- Main Info -->
      <!-- Amenities, don't forget to add in amount, price, image_url -->
      <div class="amenities">
        <div class="description">
        <%= product.description %><br>
        <%= link_to "See Cows", product_path(product.id), class: "btn btn-default" %>
        <div class="see-cows">
        </div>
        </div>
      </div>

    </div>


  </div>
  <% end %>
<!-- </div> -->
